<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
            <div class="menu border-0" aria-labelledby="home-link"></div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=saunas" class="dropdown-item">Saunas</a>
                <a href="{% url 'products' %}?category=hot-tubs" class="dropdown-item">Hot Tubs</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <!-- <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="about-us-link">
                About Us
            </a>
            <div class="menu border-0" aria-labelledby="about-us-link"></div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="contactus-link">
                Contact Us
            </a>
            <div class="menu border-0" aria-labelledby="contactus-link"></div>
        </li> -->
    </ul>
</div>